---
import Layout from '../layout/layout.astro';
import Daniel from '../components/daniel.astro';
import Jeanette from '../components/Jeanette.astro';
import Jonathan from '../components/jonathan.astro';
import Kira from '../components/Kira.astro';
import Patrick from '../components/Patrick.astro';
---

<Layout>
	<section class="grid gap-5 mb-16 bg-slate-200 ">
		<Daniel />
		<Jonathan />
		<Jeanette />
		<Patrick />
		<Kira />
	</section>
</Layout>
