---
import Layout from '../layout/layout.astro';
import Daniel from '../components/daniel.astro';
import Jeanette from '../components/Jeanette.astro';
import Jonathan from '../components/jonathan.astro';
import Kira from '../components/Kira.astro';
import Patrick from '../components/Patrick.astro';
---

<Layout>
	<section class="float flex-row items-center justify-center bg-slate-200 h-fit">
		<section
			class="grid grid-flow-col gap-5 m-auto w-10/12"
		>
			<section
				class="grid gap-5 grid-cols-1 md:grid-cols-3 md:col-span-3"
			>
				<Daniel />
				<Jonathan />
				<Jeanette />
				<Patrick />
			</section>
			<section class="h-full">
				<Kira />
			</section>
		</section>
	</section>
</Layout>
