---
import Image from 'astro/components/Image.astro';
import Jan from '../assets/image-jeanette.jpg';
---

<section class="">
  <div class="">
		<Image src={Jan} alt="Jeanette Harmon" />
		<h3 class="">Jeanette Harmon</h3>
		<h4 class="">Verified Graduate</h4>
  </div>
  <article>
		<h2>An overall wonderful and rewarding experience</h2>
		<blockquote>“ Thank you for the wonderful experience! I now have a job I really enjoy, and make a good living while doing something I love. ”</blockquote>
  </article>
</section>