---
import Image from 'astro/components/Image.astro';
import Jona from '../assets/image-jonathan.jpg';
---

<section class="bg-slate-600 rounded-lg shadow">
	<div class="grid grid-flow-col w-10/12 m-auto py-4 items-center justify-start gap-5">
		<Image
			src={Jona}
			alt="Daniel Clifford"
			class:list={'rounded-full border-2 border-violet-400 w-7'}
		/>
		<section class="">
			<h3 class=" font-medium text-sm">Jonathan Walters</h3>
			<h4 class=" opacity-50 text-xs font-medium">Verified Graduate</h4>
		</section>
	</div>
	<article class="relative w-10/12 m-auto">
		<h2 class=" text-xl font-semibold">
			The team was very supportive and kept me motivated
		</h2>
		<blockquote class="opacity-70 text-stone-300 text-sm pt-4 pb-8">
			“ I started as a total newbie with virtually no coding skills. I now work
			as a mobile engineer for a big company. This was one of the best
			investments I’ve made in myself.”
		</blockquote>
	</article>
</section>

